.container{
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.buttons{
  display: flex;
}

.btn-style{
  width: 300px;
  height: 150px;
  margin: 50px;
  font-size: x-large;
  border-width: 2px;
}