<app-container-padrao titulo="Cadastrar Categorias">
  <form class="needs-validation" novalidate [formGroup]="form">
    <div class="mb-3">
      <input 
      class="form-control" 
      placeholder="Descrição"
      formControlName="descricao"
      required
      [ngClass]="{'is-invalid': submitted && form.get('descricao').errors}"
      />
      <div class="invalid-feedback">
        Por favor informe o nome da categoria que deseja incluir.
      </div>
    </div>
    <button type="button" class="btn btn-danger mr-2 mt-2" (click)="cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary mt-2" (click)="updateDescription()">Salvar</button>
  </form> 
  
</app-container-padrao>